---
- name: LAYER 3 - Configure Core Switch (IOL L2 Mode)
  hosts: switch_core
  gather_facts: no
  connection: network_cli
  
  # Tăng thời gian chờ lên 3 phút để tránh lỗi Timeout
  vars:
    ansible_command_timeout: 180

  tasks:
    # [FIX] Dùng ios_config để bật Routing thay vì ios_system
    - name: Enable IP Routing
      cisco.ios.ios_config:
        lines:
          - ip routing

    # 1. TẠO VLAN 999 (TRANSIT VLAN RA FIREWALL)
    - name: Create Transit VLAN 999
      cisco.ios.ios_config:
        lines:
          - name Uplink_FW
        parents: vlan 999

    # 2. CẤU HÌNH CỔNG UPLINK (e0/0 -> Access VLAN 999)
    - name: Configure Uplink Port
      cisco.ios.ios_l2_interfaces:
        config:
          - name: Ethernet0/0
            mode: access
            access: { vlan: 999 }
        state: merged

    # 3. CẤU HÌNH CỔNG DOWNLINK (Trunk)
    - name: Configure Downlink Trunks
      cisco.ios.ios_l2_interfaces:
        config:
          - name: Ethernet0/1
            mode: trunk
            trunk: { allowed_vlans: "100", native_vlan: "1" }
          - name: Ethernet0/2
            mode: trunk
            trunk: { allowed_vlans: "50,100", native_vlan: "1" }
          - name: Ethernet0/3
            mode: trunk
            trunk: { allowed_vlans: "60,100", native_vlan: "1" }
        state: merged

    # 4. CẤU HÌNH IP GATEWAY (SVI)
    - name: Configure SVI IPs
      cisco.ios.ios_l3_interfaces:
        config:
          - name: Vlan999   # IP Uplink
            ipv4: [{ address: 172.16.1.2/30 }]
          - name: Vlan50    # Gateway User
            ipv4: [{ address: 192.168.50.1/24 }]
          - name: Vlan60    # Gateway Server
            ipv4: [{ address: 192.168.60.1/24 }]
          - name: Vlan100   # Gateway Mgmt
            ipv4: [{ address: 192.168.100.1/24 }]
        state: merged

    # 5. ĐỊNH TUYẾN
    - name: Set Default Route
      cisco.ios.ios_config:
        lines:
          - ip route 0.0.0.0 0.0.0.0 172.16.1.1

    # [FIX] Tạm ẩn lưu cấu hình để chạy nhanh hơn (Bỏ comment nếu muốn lưu thật)
    # - name: Save Config
    #   cisco.ios.ios_command:
    #     commands: write memory
