<VirtualHost *:80>
    ServerName intranet.nhan.local
    ServerAlias intranet
    DocumentRoot /var/www/intranet

<Directory /var/www/intranet>
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted

    AuthType GSSAPI
    AuthName "NHAN Corporation - Kerberos SSO"
    GssapiCredStore keytab:/etc/apache2/webserver.keytab
    GssapiAllowedMech krb5
    GssapiNegotiateOnce On
    GssapiBasicAuth On
    GssapiLocalName On
    SetEnv REMOTE_USER %{GSS_NAME}

    Require valid-user
</Directory>
</VirtualHost>
