<VirtualHost *:80>
    ServerName intranet.nhan.local
    ServerAlias intranet
    DocumentRoot /var/www/intranet

    <Directory /var/www/intranet>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted

        AuthType Kerberos
        AuthName "Đăng nhập bằng tài khoản công ty"
        KrbMethodNegotiate On
        KrbMethodK5Passwd Off
        KrbServiceName HTTP/webserver.nhan.local@NHAN.LOCAL
        KrbAuthRealms NHAN.LOCAL
        Krb5KeyTab /etc/apache2/webserver.keytab
        Require valid-user
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/intranet_error.log
    CustomLog ${APACHE_LOG_DIR}/intranet_access.log combined
</VirtualHost>
